.custom-header {

    .search-input {
        width: 170px;
        height: 30px;

        .el-input__wrapper {
            background-color: #e13e3e;
            border-radius: 15px;
            border: none !important;
            box-shadow: none !important;

            .el-input__prefix {
                .el-input__icon {
                    color: white;
                }
            }

            .el-input__inner {
                color: white;
            }

            .el-input__inner::-webkit-input-placeholder {
                color: white !important;
            }
        }
    }
}