.paly-footer {

    .progress-slider {

        .el-slider__runway {
            height: 5px;

            .el-slider__bar {
                background-color: #ff4e4e;
            }

            .el-slider__button-wrapper {
                $slider-button-height: 10px;

                height: $slider-button-height;
                top: -8px;

                .el-slider__button {
                    width: $slider-button-height;
                    height: $slider-button-height;
                    border: 1px solid #cccccc;
                }
            }
        }
    }

    .sound {

        .el-slider__runway {
            height: 5px;

            $color: #ff4e4e;

            .el-slider__bar {
                background-color: $color;
            }

            .el-slider__button-wrapper {
                $slider-button-height: 10px;

                height: $slider-button-height;
                top: -7.5px;

                .el-slider__button {
                    width: $slider-button-height;
                    height: $slider-button-height;
                    border: 1px solid $color;
                    background-color: $color;
                }
            }
        }
    }
}